@charset "utf-8";
.KVtext p,.bxslider .copyArea .copyTit,.PKVtext p,.NKVtext {
	font-family:SamsungOne700,'SamsungOne700'
}
.data_txt p,.tit_data h2,.tit_data p,.txtapp {
	font-family:SECRobotoLR,Sans-Serif
}
.plearnMore .learn_set .shealth_privacy_cont p {
	font-weight:400
}
.txtapp {
	font-size:24px
}
.plearnMore .learn_set h3 span,.plearnMore .listlayout p span,.plearnMore .listlayout ul li span,.plearnMore.accCasebg .learn_set h4 {
	font-family:SECRobotoLR,Sans-Serif;
	font-weight:400
}
#header_faq .top .title h2,ul.faq li dt {
	font-family:SECRobotoLB,Sans-Serif;
	font-weight:400
}
ul.faq li dd {
	font-family:SECRobotoLR,Sans-Serif;
	font-weight:400
}
dl.faq_detail dt {
	font-family:SECRobotoLB,Sans-Serif;
	font-weight:400
}
dl.faq_detail dd {
	font-family:SECRobotoLR,Sans-Serif;
	font-weight:400
}
@media screen and (max-width:400px) {
	.NKVtext {
		font-size: 30px
	}
}